.btn{
    border: 1px solid #ddd;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    height: 25px;
    padding: 0;
    min-width: 80px;

    &-close{
        border: 1px solid red;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-flex;
        justify-content: center;
        font-size: 9px;
        font-weight: bold;
        background: red;
        color: #fff;
        cursor: pointer;
        outline: none;

        &:hover{
            background: transparent;
            color: red;
        }
    }
}